<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link href="/css/style.css">
</head>
<body>
    <h1>this is the home page</h1>
    <h3><%= 1+2+3 %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum omnis id aliquid expedita. Necessitatibus voluptate expedita iure similique, commodi debitis quos, amet, in praesentium labore accusamus quisquam sequi libero unde.</p>
    <button>click  me</button>
</body>
</html>